.body {
  display: flex;
  justify-content: center;
}

.corps {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 500px;
  height: 80%;

  background-color: #9ebb2b;
}

h1 {
  position: relative;
  color: rgb(3, 3, 3);
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  left: 10px;
  opacity: 0.7;
}

.nom {
  width: 90%;
  height: 40px;
  border: 1px rgb(249, 249, 252) solid;
  border-radius: 5px;
  margin: auto;
  background-color: #bad06c;
  margin-bottom: 2px;
}

.adresse {
  width: 90%;
  height: 120px;
  border: 1px rgb(249, 249, 252) solid;
  border-radius: 5px;
  margin: auto;
  background-color: #bad06c;
  margin-bottom: 2px;
}
input {
  display: block;
  height: 20px;
  margin: auto;
  margin-left: 130px;
  margin-top: -11px;

  border: 1px rgb(249, 249, 252) solid;
  border-radius: 5px;
  font-style: italic;
}

label {
  font-size: 17px;
  position: relative;
  top: 10px;
  left: 5px;
}
textarea {
  display: block;
  width: 231px;
  height: 95px;
  margin: auto;
  margin-left: 130px;
  margin-top: -11px;
  border: 1px rgb(249, 249, 252) solid;
  border-radius: 5px;
}

.infocb {
  width: 90%;
  margin: auto;
  height: 75px;
  border: 1px rgb(249, 249, 252) solid;
  border-radius: 5px;
  background-color: #bad06c;
  margin-bottom: 2px;
}

.infocb h2 {
  font-size: 18px;
  margin-top: 2px;
  opacity: 0.7;
}

.infocb_input input {
  display: inline-block;

  margin: auto;
  margin-left: 35px;
}

.infocb_input label {
  position: relative;
  left: 5px;
  top: -6px;
}

.infocb_input img {
  position: relative;
  bottom: 3px;
}
.btn {
  width: 163px;
  height: 40px;
  border: 1px #374313 solid;
  border-radius: 30px;
  margin: auto;
  background-color: #374313;
  margin-top: 12px;
  margin-bottom: 20px;
}
.btn input {
  position: relative;
  right: 105px;
  top: 19px;
  color: rgb(249, 250, 250);
  background-color: #374313;
  border: #374313;
  font-size: 20px;
  font-style: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
}
